# Backend configuration
SECRET_KEY=change_this_to_a_secure_random_key_in_production
ALGORITHM=HS256
ENABLE_ADD_USER=true
ENABLE_DELETE_USER=true

# Default Seed User (seeded on startup via Alembic migration & pre-filled in frontend)
DEFAULT_USER_EMAIL=user@example.com
DEFAULT_USER_PASSWORD=strongpassword
DEFAULT_USER_FULL_NAME=Admin User

# Frontend configuration
VITE_API_URL=http://localhost:8000
